.bandeau__background {
    background-color: black;
    padding: 1rem;
    margin: 2rem auto;
    width: 75%;

    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}


img {
    margin: 0;
    padding: 0;
    max-height: 4rem;
    width: 30%;
    object-fit: scale-down;
}

